.navbar {
  background: #20b2aa;
  overflow: hidden;
}

.navbar a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid #20b2aa;
}

.navbar a:last-child {
  float: right;
  padding: 5px 16px;
  color:black;
}

.navbar a:hover {
  background-color: #FFFFFF;
  color: black;
}

.navbar a:visited {
  color: black;
}

.usernav {
  display: flex;
  align-items: center;
  float: right;
  border: 2px solid black;
  height: 30px;
  width: 50px;
  text-align: center;
  justify-content: center;
  font-size: 12px;
}

.usernav a {
  text-decoration: none;
}
.title-name {
  margin-left: 20px
}

.forum-title {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.forum-title a {
  border: 1px solid black;
  height: 25px;
  padding: 6px 3px 3px 3px;
  text-decoration: none;
  margin-left: 20px;
  color: black;
  background-color: rgba(209, 209, 209, 1);
  border-radius: 2px;
}

.createTitle {
  text-align: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forumLink, .topicLink {
  color: black;
}

.forumLink:hover , .topicLink:hover{
  color: #20b2aa;
  font-weight: bold;
}

.createForum {
  width: 100px;
  height: 25px;
  margin-left: 20px;
}
.forum-display {
  display: flex;
  flex-flow: column;
  margin: 0px 20px;
}

.forum-contents {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-bottom: 5px;
}

.forum-desc {
 display: flex;
 flex-flow: column;
}

.forum-desc span {
  margin-right: 100px;
}

.forum-desc span:first-child {
  font-size: 20px;
}

.forum-date {
 display: flex;
 text-align: center;
 align-items: center;
}

.form {
  max-width: 500px;
  background-color: #20b2aa;
  padding: 20px;
}
.formCreate {
  display: inline;
  align-items: center
}
.createForum {
  max-width: 500px;
  display: inline;
}

.createForum input[type=text] {
  align-items: left;
}
.createForum input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.createForum label:first-child {
  margin-left: -20px;
}

.member {
    display: flex;
    flex-flow: row;
    background: #20b2aa;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 50px;
    padding: 10px;
    max-width: 500px;
}

/* .topic-wrapper {
  display: flex;
  flex-flow: row;
} */

aside {
  float: right;
  position: fixed;
  top: 125px;
  right: 20px;
  width:30%;
}

table {
  width: 60%;
  font-size: 16px;
}

th {
  background-color: #20b2aa;
}

tr {
  height: 50px;
}

td:first-child {
  padding-left: 10px;
}

td:last-child {
  text-align: center;
}

.topic-title {
  font-size: 18px;
}

.topic-desc {
  margin-top: 5px;
  font-size: 14px;
}

/* Post page css*/
.post-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.post{
  display: flex;
  border: 2px solid #20b2aa;
  width: 700px;
  height: auto;
  position: relative;
}

.post:not(:first-child) {
  margin-top: 10px;
}

.post-contents {
  display: flex;
  flex-flow: column;
  margin: 5px 10px;
}

.post-container {
  display: flex;
  flex-flow: column;
}

.reply {
  color: black;
  font-weight: bold;
}

.reply:hover {
  color: #20b2aa;
  font-weight: bold;
}

.post-date, .reply-date {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0px;
}

.deletePost, .deleteReply{
  font-size: 12px;
  border: 1px solid #20b2aa;
  padding: 2px 2px 0px 2px;
  text-decoration: none;
  margin-left: 5px;
  color: black;
  background-color:  #20b2aa;
}

.deletePost:hover , .deleteReply:hover{
  color: white;
  text-decoration: none;
  border: 1px solid black;
}

.deletePost:visited{
  color: black;
  text-decoration: none;
}

.postForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.post-author {
  position: absolute;
  top: 5px;
  right: 200px;
}

.post-reply-container {
  position: relative;
  margin: 5px;
  padding: 5px;
  border: 2px solid #20b2aa;
  width: 500px;
}

.post-reply-container:not(:last-child) {
  margin: 10px 5px 10px 5px;
}

.reply-author {
  margin: 0px;
}

.editReply {
  color: #21b2aa ;
  text-decoration: none;
  margin-left: 5px;
}

.editReply:hover{
  font-weight: bold;
  text-decoration: underline;
}
/* .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
} */
